Options -Indexes

<FilesMatch "\.(json)$">
    Header always set Access-Control-Allow-Origin "*"
    Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,HEAD"
</FilesMatch>

RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule  ^cachetur.en.json$			    	cachetur.en_US.json
RewriteRule  ^cachetur.nb.json$			    	cachetur.nb_NO.json
RewriteRule  ^cachetur.de.json$			    	cachetur.de_DE.json

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ cachetur.en_US.json [L]